<h3><%= @question.body %> (<%= @question_number %>/<%= @question_count%>)</h3>
<br>
<form method="POST" action="/submit_answer" class="someotherthing">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <table>
        <% @question.answers.each do |answer| %>
            <tr>
                <td>
                    <input type="radio" name="answer_id" value="<%= answer.id %>"/></td><td><%= answer.body %>
                </td>
            </tr>
        <% end %>
    </table>
    <hr>
    <input type="submit"/>
</form>
