<!DOCTYPE html>
<html>
  <head>
    <title>Persoenlichkeitstest</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='something'>
      <a href='/'><%= image_tag('index.png', style: 'border-radius: 10px; margin: 5px;') %></a>
      <%= yield %>
    </div>
  </body>
</html>
